h1 About

article!= partial("about-text")


ul.majorlist
  li: a(href="https://twitter.com/_ndrw") Twitter
  li: a(href="http://linkedin.com/in/andrewnonumbers") LinkedIn
  li: a(href="http://instagram.com/andrewnonumbers") Instagram
  li: a(href="http://www.flickr.com/photos/andrewnonumbers/sets") Flickr
  li: a(href="mailto:andrewnonumbers+site@gmail.com") Email Me

  