<div class="favorites-page">
	<section>
		<a href="http://matt.might.net/articles/phd-school-in-pictures/">Matt Might's diagram of knowledge</a>

	</section>

	<section>
		<iframe src="//player.vimeo.com/video/48437619?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/48437619">Technori Pitch: August 2012 Keynote - Emerson Spartz</a> from <a href="http://vimeo.com/user11225890">Technori</a></p>
	</section>

	<section>
		<a href="http://thedianerehmshow.org/shows">The Diane Rehm Show</a>

	</section>

	<section>
		<a href="http://www.stitcher.com/podcast/philosophize-this">Philsophize This! podcast</a>

	</section>

	<section>
		<a href="http://rein.pk/replacing-middle-management-with-apis/">http://rein.pk/replacing-middle-management-with-apis/</a>

	<section>
		<blockquote>I’d like people to understand that when they choose to spend their time in the future, they really should be trying to do three different things all at once: Do something they enjoy, do something that matters, and do something that they’re particularly good at. People should understand that there are tradeoffs between these things, but they shouldn’t forget about any of the three.</blockquote>
		<p>John Denero, UC Berkeley professor</p>
	</section>

	<section>
		<a href="http://ww2.kqed.org/news/2015/03/27/boomtown-video-from-the-gold-rush-to-today-in-217-seconds">History of the Bay Area</a>
	</section>

	<section>
		<a href="https://youtu.be/JG0pegmmB5A">Sweet Lullaby - Deep Forest</a>
	</section>

	<section>
		<a href="waitbutwhy.com/2014/05/fermi-paradox.html
">Wait But Why - The Fermi Paradox</a>
	</section>

	<section>
		<a href="http://moorewr.tumblr.com/post/121516007260/monkeymancheeks-antigovernmentextremist">http://moorewr.tumblr.com/post/121516007260/monkeymancheeks-antigovernmentextremist</a>
	</section>

	<section>
		<a href="https://www.youtube.com/watch?v=7ZmJtYaUTa0">Road Bike Party</a>
	</section>

	<section>
		<a href="http://googleresearch.blogspot.com/2015/06/inceptionism-going-deeper-into-neural.html">How neural networks work</a>
	</section>

	
</div>
