h1 Previously
 

include ../project/index.jade




h2 Conferences
ul.majorlist
  li: a(href="/articles/warmgun-2013.html") Warmgun 2013 notes
  li: a(href="#") Gigaom Roadmap 2014
  li: a(href="#") Startup Fest