div#thebar
  != partial("_emailcollector")

div.covertext
  h1.headline 
  
  div.dead-center
    div.unit.span-grid
      div.greeting
        h3 I design products and think about technology.
    div.unit.span-grid
      nav.bottomBar
        div.unit.one-of-two
          ul
            li Writer of <a href="http://designtox.tumblr.com">designtox</a> tumblr
        div.unit.one-of-two
          ul
            li Co-founder of <a href="http://tinyterms.co">TinyTerms</a>


div.cover
  div.separator


section.menu
  div.container
    nav.unit.one-of-three
      ul
        li Work
        li: a(href="/a/about.html") About
        li: a(href="/articles/") Articles
        li: a(href="/resume") Résumé
        //li: a(href="/a/previously.html") Case Study: Hejia
        //li: a(href="/a/previously.html") Case Study: TinyTerms
        li: a(href="/a/previously.html") Projects
        li: a(href="/a/favorites.html") Favorite Things
        li: a(href="https://twitter.com/_ndrw/favorites") Tweets I Read &#10166;
        //li: a(href="#") How I work
        //li: a(href="#") Shop
    nav.unit.two-of-three
      ul
        li Hi again
        li.mutedtext.
          I'm Andrew Sierran Chen. I spend a lot of time conceptualizing, designing, and testing technology products.

          I previously interned in Beijing, talked to President Obama, tested the Cr-48 for Google, started two startups, and lived in a van. I now excitedly work on TinyTerms, using design to build a better way of writing and reading legal contracts. If you're interested in society, law, or design, you should <a href="mailto:andrewnonumbers+site@gmail.com">talk to me</a>.

          Besides design, I like to keep myself current on psychology (particularly cognition & memory, behavior, and personality), societal issues, education issues, sustainability, and Kanye West. I am a maker, hacker, philosopher, and critical thinker.

          My latest project is TinyTerms, which was born out of Startup Weekend Legaltech and won Github's Judge's Choice award.

          I post occasionally provocative things to <a href="https://twitter.com/_ndrw">Twitter</a> and infrequent photos to <a href="https://www.flickr.com/photos/andrewnonumbers/sets">Flickr</a> and <a href="http://instagram.com/andrewnonumbers">Instagram</a>.
          

    //
      nav.unit.one-of-three
        ul
          li Two
          li: a(href="http://noodlesandbrain.tumblr.com") Noodles &amp; Brain
          li: a(href="http://advicefromacollegedropout.com") Podcast Project
          li: a(href="/a/one-line-book-reviews.html") One-line UX book reviews
          li: a(href="/a/content-consumption.html") Content Consumption
          li: a(href="/startupcities/") StartupCities
          li: a(href="#") 10 Rules to Life
          li: a(href="#") How to be a UX designer
      nav.unit.one-of-three
        ul
          li Three
          li: a() Viatask (2011)
          li: a(href="http://obnyc.tumblr.com") New York (2012)
          li: a() TinyTerms (2014)
      nav.unit.one-of-three
        ul
          li Four
          li: a(href="http://design-lab.ndrw.me/") ndrw design lab
          li: a(href="http://2010-2013.ndrw.me") 2010-2013.ndrw.me
          li: a(href="http://2008-2009.ndrw.me") 2008-2009.ndrw.me

