div#thebar
  != partial("_emailcollector")

div.covertext
  h1.headline Hello.

  nav
    ul
      li: a(href="/a/about.html") About
      li: a(href="/weeResume") Résumé
      li: a(href="/a/previously.html") What I've done
      li: a(href="https://twitter.com/_ndrw/favorites") What I read
      //li: a(href="#") How I work
      li: a(href="/articles/") What I write


  div.greeting
    h3 My name is Andrew S. Chen
    p Designer. Entrepreneur. Student. 

  nav.bottomBar
    ul
      li: a(href="http://designtox.tumblr.com") designtox
      li: a(href="/project") Other Projects


div.cover
  div.separator





section.menu
  nav.unit.one-of-four
    ul
      li: a(href="http://designtox.tumblr.com") designtox
      li: a(href="http://noodlesandbrain.tumblr.com") Noodles&Brain
      li: a(href="http://advicefromacollegedropout.com") Podcast Project
      //li: a(href="#") Shop
  nav.unit.one-of-four
    ul
      li: a(href="/a/one-line-book-reviews.html") One-line UX book reviews
      li: a(href="/a/content-consumption.html") Content Consumption
      //li: a(href="/a/content-consumption.html") Content consumption
      li: a(href="/startupcities/") StartupCities
      //li: a(href="/a/web-development-notes.html") Web dev notes
      //li: a(href="#") 10 Rules to Life
      //li: a(href="#") Recommendations
      //li: a(href="#") How to be a UX designer
  nav.unit.one-of-four
    ul
      li: a(href="http://design-lab.ndrw.me/") ndrw design lab
      li: a(href="http://obnyc.tumblr.com") obnyc
  nav.unit.one-of-four
    ul
      li: a(href="http://2010-2013.ndrw.me") 2010-2013.ndrw.me
      li: a(href="http://2008-2009.ndrw.me") 2008-2009.ndrw.me


