h1 ndrw.me
h3 The more you know, the more you know, and the more you don't know.
p Hi, I'm Andrew! I design things...
nav
  ul
    li: a(href="/thoughts/") Advice & Thoughts
    li: a(href="/weeResume/") Resume
    li reason 3