@primarywidth: 700px;

@accent: #09BD87;


a:hover {
  color: @accent;
}
/*global a:hover for articles because we don't want white for hover*/ 


.articlecontent {

  p, ul {
    border-bottom: 2px solid black;

    width: @primarywidth;

    margin-left: auto;
    margin-right: auto;


    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 30px;
    color: #262A27;
    margin-top: 300px;
    margin-bottom: 300px;
    padding: 24px 16px;
    background: #fff;
    border-radius: 5px;

    border-top-style: solid;
    border-top-width: 20px;
    border-color: @accent;

    box-shadow: 0px 1px 0px rgba(0,0,0,0.2),
     0px 1px 3px rgba(0,0,0,0.2),
     0px 8px 13px rgba(0,0,0,0.1),
     0px 18px 23px rgba(0,0,0,0.1);
  }

  h2 {
    font-size: 8em;

    margin-top: 60px;

    text-transform: uppercase;
    text-align: center;

  }

  h3 {
    font-size: 2em;

    width: @primarywidth;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 2px solid black;

    margin-bottom: -150px;
  }

  blockquote {
    border-left: 3px solid gray;
  }

  strong {

  }

}


ul.majorlist {
  box-shadow: none;
  border: none;

}
/*overrides ul articlecontent styling because it shouldn't display like that on the index page*/

