h1 Advice &amp; Thoughts
p articles/slides will go here



h2 Notes
ul.majorlist
  li: a(href="/articles/html-slideshow.html") HTML slideshow systems
  li: a(href="/articles/warmgun-2013.html") Warmgun 2013 notes